#navbar {
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
}

.navbar__menu ul {
  display: flex;
  align-items: center;
  gap: 10px;

  li a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.navbar__socials {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #007bff;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
