#project {
  // background-color: #b2f3b2;
}

.project {
  // background-color: #b2f3b2;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3rem;

  &__top {
    display: flex;
    // flex-direction: column;
    gap: 1rem;

    .heading {
      p {
        width: 50%;
        margin-top: 1rem;
      }
      @media screen and (max-width: 720px) {
        p {
          width: 100%;
        }
      }
    }
    .projImage {
      filter: grayscale(80%);
    }

    .filter {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      p {
        border: 1px solid #ccc;
        border-radius: 2rem;
        padding: 0.3rem 0.7rem;
      }
    }
  }
  &__bottom {
    .project-cards {
      max-width: 980px;
      margin-inline: auto;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      .card {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #dbdbdb;

        &-title {
          margin-bottom: 0.5rem;
        }
        .image {
          height: 20rem;
          background-color: #ffffff;
        }
        .tech {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-block: 0.5rem;
        }

        .description {
          margin-top: 0.5rem;
          font-size: 0.97rem;
          line-height: 1.3;
          font-weight: 500;
        }

        .technology {
          font-size: 0.8rem;
          font-style: italic;
          color: #bbbaba;

          letter-spacing: 0.5px;
        }
        .git {
          color: #a0a0a0;
        }
      }
      @media screen and (max-width: 720px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .project__top {
    flex-direction: column;
  }
}
