#project {
  background-color: white;
}

.project {
  display: flex;
  justify-content: space-between;

  gap: 3rem;
  position: relative;
  gap: 2.2rem;

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 25%;

    .heading {
      text-align: center;
      .p-title {
        display: flex;
        gap: 1rem;
      }
      h3 {
        font-weight: 800;
      }
      p {
        margin-top: 8px;
        line-height: 1.1;
        font-size: 0.925rem;
        color: #969696;
      }

      .ImgHead {
        // padding-top: 5rem;
        margin-top: 1rem;
        transform: rotate(-150deg);
      }
    }
  }
  &__bottom {
    padding-inline: 2rem;
    margin-top: 7rem;

    width: 70%;
    .project-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.3rem;

      .card {
        display: flex;
        flex-direction: column;
        // padding: 10px;
        background-color: #f7f9fd;
        padding: 1rem;
        border-radius: 20px;
        .desc-title {
          padding: 5px 0;
          font-weight: 600;
        }

        .image {
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
        }
        .projIcon {
          width: 20px;
          padding-top: 10px;
          display: inline-block;
        }
        .card-title {
          padding-top: 5px;
        }

        .fbet {
          padding-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .bt {
          margin-top: 5px;
        }

        .technology {
          font-size: 0.8rem;
          font-style: italic;
          color: #bbbaba;

          letter-spacing: 0.5px;
        }
      }

      @media screen and (max-width: 520px) {
        padding-inline: 0;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 73%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__top,
    &__bottom {
      width: 100%;
    }
  }
  @media screen and (max-width: 540px) {
    .project__bottom {
      padding-inline: 0;
    }

    .project-cards {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }
}

* {
  // outline: 1px solid red;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 500;
}
