#project {
  background-color: #fff;
}

.project {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 2.2rem;

  &__top {
    display: flex;
    gap: 1rem;
    width: 20%;

    .heading {
      .p-title {
        display: flex;
        gap: 1rem;
      }
      h3 {
        font-weight: 800;
      }
      p {
        margin-top: 8px;
        line-height: 1.1;
        font-size: 0.925rem;
        color: #969696;
      }
    }
  }
  &__bottom {
    width: 70%;
    .project-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.3rem;

      .card {
        display: flex;
        flex-direction: column;
        // padding: 10px;

        &-title {
          margin-bottom: 0;
          font-size: 1.4rem;
          font-weight: 600;
        }
        .image {
          height: 350px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 7px 7px 0 0;
            object-fit: cover;
          }
        }

        .desc-box {
          padding-inline: 5px;
        }
        .card-title {
          padding-block: 0.5rem;
        }

        .fbet {
          display: flex;
          justify-content: space-between;
        }

        .description {
          font-size: 0.97rem;
          line-height: 1.1;
          font-weight: 450;
        }

        .technology {
          font-size: 0.8rem;
          font-style: italic;
          color: #bbbaba;
          padding-top: 5px;

          letter-spacing: 0.5px;
        }
        .git {
          color: #a0a0a0;
          padding-left: 8px;
        }
      }

      @media screen and (max-width: 520px) {
        padding-inline: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__top,
    &__bottom {
      width: 100%;
    }
  }
  @media screen and (max-width: 540px) {
    .project-cards {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }
  }
}

* {
  // outline: 1px solid red;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 500;
}
