.projects {
  display: flex;
  justify-content: space-between;

  gap: 1rem;

  .proj-left {
    width: 20%;
  }
  .proj-wrap {
    display: flex;
    flex-direction: column;
    width: 70%;
    .projects-card {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .card {
        display: flex;

        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid #f3f3f3;

        p {
          font-size: 0.875rem;
          span {
            .ic {
              color: #a7a7a7;
              font-size: 12;
              margin-left: 5px;
            }
          }
        }

        .date {
          color: #a7a7a7;
        }
      }
    }
  }
}
