#hero {
  // background-color: #fafaf9;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 2rem;
  gap: 10px;

  &__text {
    display: flex;
    justify-content: space-between;

    p {
      max-width: 400px;
      align-self: flex-end;
      text-align: end;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 12px;

    .social {
      display: flex;
      align-self: end;
      gap: 5px;
    }
  }

  &__image {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
  }

  @media screen and (max-width: 1024px) {
    &__text {
      flex-direction: column;
      gap: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding-inline: 0;
  }
}
