#hero {
  // background-color: #fafaf9;
  // background-color: #f9f3e8;

  background-image: linear-gradient(to bottom, #eff6ff, #fee2e2);
}

.hero {
  // height: calc(90vh - 70px);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    width: 70%;
    margin-inline: auto;
    margin-top: 2rem;

    img {
      object-fit: cover;
      filter: grayscale(90%);
    }

    .name {
      font-size: 1.2rem;

      strong {
        color: #534949;
      }
    }

    .hero-btn {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;

      a {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        border: var(--border);
        // background-color: #4e4e4e;

        // color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }
    }
    .hero-social {
      display: flex;
      gap: 1rem;

      a {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
