#hero {
  position: relative;
  background-color: beige;

  .hero {
    position: relative;

    // height: calc(100vh - 70px);

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 1rem;
    }

    &__description {
      max-width: 700px;
      font-size: clamp(1rem, 0.8362rem + 0.5517vw, 1.25rem);

      font-weight: 400;
      color: #475467;

      letter-spacing: -0.02em;
      text-align: center;
      line-height: 1.2;
    }

    @media screen and (max-width: 768px) {
      padding-top: 1rem;
    }
  }
}
