.container {
  max-width: min(1240px, calc(100% - 4rem));
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: min(1240px, calc(100% - 40px));
  }
}

:root {
  --vh: 1vh;
}
section {
  padding: 5rem 0;
}
@media (max-width: 768px) {
  section {
    // padding: 3rem 0;
  }
}

.sub-head {
  font-size: 2rem;
}

.text-cursive {
  font-family: a;
  font-size: 2rem;
}

.r-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  a {
    font-size: 1.7rem;
    font-weight: 800;

    span {
      color: blue;
    }
  }
}

.tiny {
  font-size: 0.7rem;
  color: #7c7c7c;
  font-weight: 600;
}
.tiny-bl {
  font-size: 0.8rem;
  color: black;
  font-weight: 600;
}
.tiny-md {
  font-size: 0.9rem;
  font-weight: 500;
  color: #7c7676;
}

.tinyy {
  font-size: 0.9rem;
  color: #979696;
  font-weight: 600;
}

.w-color {
  color: #fff;
}
.btn-round {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(8em, 11vw, 10em);
  height: clamp(8em, 11vw, 10em);
  border-radius: 50%;
  border: 0;

  color: #fff;
  background-color: black;
}
