.container {
  max-width: min(1240px, calc(100% - 32px));
  margin: 0 auto;
}

// @media (min-width: 1200px) {
//   .container {
//     max-width: min(1240px, calc(100% - 120px));
//   }}

:root {
  --vh: 1vh;
}
section {
  padding: 5rem 0;
}
@media (max-width: 768px) {
  section {
    padding: 3rem 0;
  }
}

.sub-head {
  font-size: 2rem;
}

.text-cursive {
  font-family: a;
  font-size: 2rem;
}

.tiny {
  font-size: 0.7rem;
  color: #7c7c7c;
  font-weight: 600;
}
.btn-round {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(8em, 11vw, 10em);
  height: clamp(8em, 11vw, 10em);
  border-radius: 50%;
  border: 0;

  color: #fff;
  background-color: black;
}

// <span>Underline</span>

// span {
//   position: relative;

// }

// span::before {
//   content: '';
//   position: absolute;
//   left: 50%;
//   bottom: 0;
//   width: 100%;
//   height: 2px;
//   background-color: #fc2f70;
//   transform-origin: center;
//   transform: translate(-50%, 0) scaleX(0);
//   transition: transform 0.3s ease-in-out;
// }

// span:hover::before {
//   transform: translate(-50%, 0) scaleX(1);
// }
