#skill {
  // background-color: #fdfdfd;
  background-color: white;
}

.skill {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__heading {
    width: 20%;

    img {
      border: 1px solid #ccc;
      background-color: #ffedca;
      padding: 2px;
      border-radius: 5px;
    }

    h4 {
      font-weight: 600;
      line-height: 1;
    }
  }

  &__content {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      background-color: #fbfbfa;
      // background-color: #fbfcfd;
      padding: 1.3rem 0.5rem;
      border-radius: 5px;

      overflow: hidden;

      h3 {
        width: fit-content;
        padding-bottom: 5px;
        font-size: 0.875rem;

        border: 1px solid #ccc;
        border-radius: 20px;
        font-weight: 500;
        padding: 3px 7px;
        color: gray;
        background-color: #f3f3f7;
      }
      .intro {
        padding-top: 0.5rem;
        padding-bottom: 1.3rem;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 73%;
    }
    @media screen and (max-width: 540px) {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__heading,
    &__content {
      width: 100%;
    }
  }
}
