#skill {
  // padding: 4rem 0;
  background-color: #fcfbfd;
}

.skill {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  padding-inline: 3rem;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .desc {
      width: 40%;

      ul {
        list-style: none;
        padding: 0;

        .list {
          display: flex;
          align-items: flex-start;
          margin-bottom: 1rem;
          font-size: 1.1rem;

          .tick {
            color: #4caf50;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .images {
      width: 45%;
      // background-color: gainsboro;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;

      .desc,
      .images {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-inline: 2rem;
  }

  @media screen and (max-width: 540px) {
    padding-inline: 0;
  }
}

.boldFont {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.01em;
}
