#skills {
  // background-color: #fbfcfd;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tech-icons {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;

  .tech-row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5rem;

    .tech-item {
      display: flex;

      align-items: center;
      gap: 0.5rem;

      border: 1px solid #e5e7eb;
      padding-block: 5px;
      padding-right: 12px;
      padding-left: 10px;
      border-radius: 20px;

      .tech-icon {
        height: 1.25rem;
        width: fit-content;
      }

      .tech-name {
        font-size: 0.875rem;
        line-height: 1.25;
        color: #555;
        white-space: nowrap;
      }
    }
  }
}

.experience {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #e5e7eb;

  .exp-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
  }

  .exp-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.tech {
  border-top: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 750px;

  .skill-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
  }
}
