#about {
  background-color: #fff;
}

.about {
  // background-color: #fff;
  padding-block: 5rem;

  &__content {
    display: flex;
    max-width: 77%;
    margin: 0 auto;

    .left {
      width: 65%;
    }

    .right {
      width: 25%;
      margin-left: 12%;

      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 5rem;
      }

      button {
        color: #ccc;
        font-size: 1rem;
        margin-left: 1rem;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
        padding: 0;
      }

      .right {
        flex-direction: row;
        justify-content: space-between;

        margin-left: 0;

        p {
          width: 60%;
          margin-bottom: 3rem;
        }

        button {
          display: flex;
          position: relative;

          margin-block: 2rem;
        }
      }
    }

    @media (max-width: 512px) {
      max-width: 100%;
      .right {
        button {
          margin-top: 3rem;
        }
      }
    }
  }
}
