#about {
  background-color: #f8f8f8;
}

.about {
  // background-color: #f3f2f7;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  &__heading {
    width: 20%;
  }

  &__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .intro {
      .introImg {
        width: 100%;
        padding-top: 1rem;
        height: 300px;
        filter: grayscale(1);
        mask-image: linear-gradient(to right, transparent, black);

        img {
          object-fit: cover;
        }
      }

      .subhead {
        // display: flex;
        // justify-content: space-between;
        align-items: flex-start;
        margin-top: 3rem;

        .ind {
          width: 130px;
          font-weight: 500;
          line-height: 1;
          font-size: 1.1rem;
          letter-spacing: -0.03em;
          padding-bottom: 1rem;
        }
      }

      &-desc {
        font-size: 1.1rem;

        width: 60%;
        line-height: 1.1;
      }
    }

    .tech {
      background-color: #fcfbfd;
      border-radius: 15px;
      padding: 15px 10px;

      &__cont {
        width: 60%;
        padding-top: 10px;
      }
    }

    .experience {
      background-color: #fcfbfd;
      border-radius: 15px;
      padding: 15px 10px;

      .exp {
        width: 60%;
        padding-top: 10px;

        .exp-details {
          // margin-bottom: 15px;

          .company,
          .position {
            font-size: 18px;
            font-weight: 500;
            color: #333333;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 5px;

            span {
              font-size: 12px;
              font-weight: 400;
              color: #666666;
            }
          }
        }

        .description {
          font-size: 16px;
          color: #555555;
          line-height: 1.6;
        }
      }
    }

    @media screen and (max-width: 540px) {
      .tech,
      .experience {
        width: 100%;
      }

      .intro {
        .introImg {
          height: 200px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    &__heading,
    &__content {
      width: 100%;
    }

    .intro {
      &-desc {
        width: 100%;
      }
      .subhead {
        margin-top: 1.5rem;
        .ind {
          width: 100%;
        }
      }
    }

    .tech {
      &__cont {
        width: 100%;
      }
    }

    .experience {
      .exp {
        width: 100%;
      }
    }
  }
}

* {
  // outline: 1px solid red;
}
