.college {
  display: flex;

  justify-content: space-between;
  column-gap: 2rem;
  margin: 3rem 0;

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-size: 1.7rem;
    }
    .colname {
      color: #a0a5ac;
      margin-top: 0.3rem;
    }

    p {
      width: 80%;
      margin-top: 1.2rem;
    }
  }
  &__image {
    position: relative;

    img {
      max-width: 100%;
      width: 420px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__desc {
      p {
        width: 100%;
        margin-top: 0;
        line-height: 1.2;
      }
    }
  }
}
