#contact {
  // background: #f7f7f7;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 900px;
  padding-inline: 2rem;
  gap: 3rem;

  @media (max-width: 768px) {
    padding-inline: 2rem;
  }
  @media (max-width: 576px) {
    padding-inline: 0;
  }
}

.contact__header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .fill-form {
    display: flex;
    align-items: center;
    color: #979797;
    gap: 10px;
    padding: 1rem 0;
    border-top: 1px solid #e5ebf0;
    p {
      font-size: 14px;
    }
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .contact__form-field {
    position: relative;

    label {
      font-size: 1.1rem;
      font-weight: 500;
    }

    input,
    textarea {
      width: 100%;
      padding: 7px;
      font-size: 1rem;
      color: #555;
      background-color: inherit;
    }

    .error {
      color: red;
      font-size: 1rem;
    }
  }

  button {
    align-self: flex-end;
    margin-top: -5rem;
  }
}
