#header {
  height: 70px;
  z-index: 10;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5ebf0;
}

.header .logo {
  font-size: 1.2rem;
}

.header .links ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header .links a {
  text-decoration: none;
  color: inherit; // Use the same color as parent text
}
