#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fafafa;
  background: blur(10px);

  z-index: 10;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .links ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.header .links a {
  text-decoration: none;
  color: inherit; // Use the same color as parent text
}
