.navbar {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo {
    flex: 1;
  }
  .links {
    flex: 1;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;

      li,
      a {
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 768px) {
  .navbar {
    // flex-direction: column;

    .links ul {
      display: none;
    }
  }
}
* {
  // outline: 1px solid red;
}
