footer {
  // background-color: black;
  background: url(../../assets/images/footerback.png);
}

.footer {
  // background-color: #b4b4b4;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-inline: 7rem;
    padding-top: 3rem;
    color: #fff;

    .f-left,
    .f-right {
      display: flex;
      flex-direction: column;
    }

    .f-left {
      gap: 3rem;
    }

    .f-right {
      gap: 2rem;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }
    }

    @media (max-width: 768px) {
      margin-inline: 0;
    }
  }
  .f-copy {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid #bbb;
    color: #fff;
  }
}
