.experience {
  display: flex;
  margin: 3rem 0;

  gap: 1rem;

  &__heading {
    flex: 1;
    p {
      font-size: 0.7rem;
    }
  }

  &__sect {
    display: flex;
    flex: 10;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #474444;

    &-pos {
    }
    &-time {
      p {
        span {
          font-size: 0.7rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;

    &__sect {
      flex-direction: column;
      width: 100%;

      &-pos {
        .sub {
          margin-bottom: 1.2rem;
        }

        ul li {
          padding-bottom: 1rem;
        }
      }
    }
  }
}
